@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Space+Mono:wght@400;700&display=swap');

:root{
  --background-color: black;
  --font-color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-style: normal;
}

[data-hidden]{
    display: none;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
}

.section_container{
    width: 100%;
    height: 100vh;
    display: flex;
}

/*--------------header-----------------------------*/

.header{
    display: flex;
    width: 100%;
    padding: 20px 40px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: var(--background-color);
    height: 60px;
}

.header span{
    font-size: 1.6rem;
    font-weight: 700;
}

.header-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-icon img{
    width: 100%;
}

/*---------------------------Homepage-----------------------------*/

.homepage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  overflow: hidden;
}

.homepage_text{
    max-width: 700px;
    
}

.homepage_title{
    font-size: 8rem;
    font-weight: 900;
}

.homepage_text p{
    font-size: 1.7rem;
    max-width: 1100px;
    margin-top: 20px;
}

.homepage_img1{
    margin-right: 20px;
}

.home-blob{
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 80%;
    left: 60%;
    top: 60%;
    transform: translate(-50%,-50%);
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
}

.home-blob .b1{
    z-index: -1;
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #6DE244;
    border-radius: 50%;
}

.home-blob .b2{
    z-index: -1;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #0C7890;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 50px;
    
}

.home-blob img{
    width: 100%;
}

/*------------------------------------------------about-us-----------------------------------------------*/

.about{
    flex-direction: column;
    align-items: center;
}

.about_title{
    font-size: 5rem;
    padding: 80px 0;
}

.about_content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.about_content-desc{
    max-width: 500px;
    font-size: 1.7rem;
    line-height: 35px;
}

.about_content-img{
    width: 600px;
    padding: 20px;
    border: 2px solid white;
}

.about_content-img img{
    width: 100%;
}

/*---------------------------Events-------------------------------------*/

.Events{
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.Events_title{
    font-size: 8rem;
}

.Events_list{
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    gap: 50px;
}

.Events_list em{
    cursor: pointer;
}

/*---------------------------------------Sponsors------------------------------*/

.Sponsors{
    flex-direction: column;
    align-items: center;
}

.Sponsors_title{
    font-size: 5rem;
    padding: 100px 0;
}

.Sponsors_list{
    display: flex;
    gap: 100px;
    margin-top: 120px;
}

.sponsor_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor_img{
   width: 300px;
   height: 300px;
   border: 2px solid white;
   border-radius: 50px 0 50px 0;
}

.sponsor_name{
    font-size: 1.7rem;
    margin-top: 20px;
}

/*--------------------------------------contact-----------------------------*/

.contact{
    flex-direction: column;
    align-items: center;
}

.contact_title{
    font-size: 5rem;
    padding: 100px 0;
}

.contact_list{
    display: flex;
    gap: 80px;
}

.contact_img{
    height: 250px;
    width: 200px;
    background-color: rgb(231, 80, 80);
    padding: 20px;
    border: 2px solid white;
}

.contact_details{
    margin-top: 10px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------------------------------footer----------------------------*/

